@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
   
}


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:rgb(36, 255, 0);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }



/* Side Navigation Styles */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgray;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav h1{
  font-family: monospace;
  text-align: center;
  font-size: 25px;
  margin-bottom: 55px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 20px;
}

.sidenav a {
  padding: 20px ;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;

  font-family: monospace;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid black;
}

.logout{
  transition: all 0.3s ease 0s;
}


.logout:hover{
  transition: 0.5s;
  background-color: rgb(255, 0, 0);
  color: white;
}

.sidenav nav a:hover {
      transition: 0.5s;
      background-color: rgb(36, 255, 0);
  }
  

  .hmm{
      border-top: 1px solid black;
  }


.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: block; /* Change display to block */
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease 0s;
}

.dropdown-content a:hover {
  transition: 0.5s;
  background-color: rgb(36, 255, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}
  html{
    scroll-behavior: smooth;
  }


.jumbotron-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    padding-top: 20px;
}



.vdd{
    width: 1000px;
    height: 600px;
    border: 1px solid rgb(255, 255, 255);
}

.pos{
    position: absolute;
    top: 750px;
    left: 70%;
    border: 2px solid rgb(255, 255, 255);
}

.jumbotron-fluid h1{
  font-family: monospace;
  font-size: 55px;
  color: white;
  width: 630px;
}

.filmdes{
  width: 550px;
}

h3{
    font-size: 60px;
    color: white;
}

h3 span{
    color: rgb(36, 255, 0);
}

p strong{
    color: rgb(36, 255, 0);
    font-family: monospace;
    font-size: 25px;
    font-weight: 1000;
}





p{
    font-family: monospace;
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
}

.wtchm{
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.spn{
  margin-left: 5px;
}


footer{
    background-color: transparent;
    margin-top: auto;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
    background: transparent;
}

.socialicons a:hover{
    transform: scale(1.15);
    background-color: rgb(36, 255, 0);
    transition: 0.5s;
}

.socialicons a i:hover{
    color: white;
    transition: 0.5s;
}

.footerbottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    background:rgb(36, 255, 0);
}

.footerbottom p{
   color: rgb(0, 0, 0);
   font-family: monospace;
   font-weight: 400;
   font-size: 15px;
   background:rgb(36, 255, 0);
}

.CC{
    width: 10px;
    height: 10px;
    background: transparent;
}


body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( rgba(41,41,41,0.9),rgba(41,41,41,0.9)),url('../../img/random/movie.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}



.cta{
    display: flex;
    justify-content: space-between;
    width: 215px;
}

.btn1{
    width: 115px;
}


/* For 1280x720 resolution */
@media (max-width: 1350px){
  .sidenav {
    width: 200px;
  }

  .sidenav h1{
    font-size: 18px;
    margin-bottom: 40px;
    padding: 21px;
  }
  
  .sidenav a {
    padding: 20px;
    font-size: 15px;
  }

  .dropdown-content a {
    padding: 10px 16px;
  }

.main {
    margin-left: 200px;
  }

  .jumbotron-fluid{
    margin-bottom: 100px;
}

  .vdd{
    width: 800px;
    height: 500px;
  }
  
  .pos{
    position: absolute;
    top: 650px;
    left: 69%;
    height: 400px;
  }
  
  .jumbotron-fluid h1{
    font-size: 50px;
    width: 500px;
  }
  
  h3{
    font-size: 50px;
  }
  
  
  p strong{
    font-size: 20px;
    font-weight: 1000;
  }
  
  .filmdes{
    width: 420px;
}
  
  p{
    font-size: 15px;
  }
  
  .wtchm{
    margin-top: -80px;
    padding: 20px;
  }
      

  
  }
