@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
   
}


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:rgb(11, 124, 158);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }


li, a, button{
    font-family: monospace;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    z-index: 1000;
}

header.sticky
{
    background: rgb(41, 41, 41,0.7);
}

.logo{
    width: 250px;
    height: 50px;
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
}


.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: rgb(11, 124, 158);
}

button{
    padding: 9px 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    transform: scale(1.09);
    background-color: rgb(255, 0, 0);
    color: white;
}





p{
    font-family: monospace;
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
}


select{
    font-family: monospace;
    margin-right: 5px;
    margin-left: 5px;
}



.result-cont{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -1px 1px 1px rgb(156, 156, 156);
    width: 540px;
    height: 250px;
   
}


.result h1{
    font-size: 40px;
    font-family: monospace;
    color: rgb(72, 219, 14);
    margin-bottom: 25px;
}


footer{
    background-color: transparent;
    margin-top: auto;
}
.footercontainer{
    width: 100%;
    padding: 70px 30px 10px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
    background: transparent;
}

.socialicons a:hover{
    transform: scale(1.09);
    background-color: rgb(11, 124, 158);
    transition: 0.5s;
}

.socialicons a i:hover{
    color: white;
    transition: 0.5s;
}

.footerbottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    background:rgb(11, 124, 158);
}

.footerbottom p{
   color: white;
   font-family: monospace;
   font-weight: 400;
   font-size: 15px;
   background:rgb(11, 124, 158);
}

.CC{
    width: 10px;
    height: 10px;
    background: transparent;
}


body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( rgba(36, 41, 48, 0.9),rgba(0, 0, 0, 0.9)),url('../../img/random/rating.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}



.cta{
    display: flex;
    justify-content: space-between;
    width: 215px;
}

.btn1{
    width: 115px;
}



/* For 1280x720 resolution */
@media (max-width: 1350px){
    header{
        padding: 20px 10%;
    }
    
    .logo{
        width: 250px;
        height: 50px;
    }

    
    li, a, button{
        font-size: 16px;
    }
    
    button{
        padding: 8px 20px;
    }
    
    
    .lgo{
        width: 700px;
        height: 600px;
    }
  

.jumbotron-fluid h1{
  font-family: monospace;
  font-size: 50px;
  color: white;
  width: 600px;
}

}