@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&display=swap');

button:hover{
    transform: scale(1.09);
    transition: 0.5s;
    background-color: rgb(255, 0, 0);
    color: white;
}

.bann{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.goat{
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    margin-top: 20px;
}


.bname{
    font-family: monospace;
    font-size: 25px;
   margin-bottom: 10px;
}

.hmbtn{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.hmbtn button{
    background-color: rgb(138, 10, 10);
    height: 50px;
    width: 250px;
    color: black;
    border-radius: 0%;
    transition: all 0.3s ease 0s;
}

.hmbtn button:hover{
    transition: 0.5s;
    transform: scale(1.05);
    background-color: red;
}

.frmcont{
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset -1px 1px 1px rgb(156, 156, 156);
  padding: 20px;
}

.youproblem{
    color: #ff0000;
}

span{
    color: #ff0000;
    font-size: 50px;
    margin-left: 30px;
    margin-bottom: 1px;
    font-family: monospace;
}


h1{
  
  color: #ffffff;
  font-size: 50px;
  margin-bottom: 1px;
  font-family: monospace;
}

.logrow{
  margin-top: 5px;
  height: 50px;
  width: 470px;
  padding: 10px 10px;
  border: 1px solid #555;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

::placeholder{
  color: rgb(0, 0, 0);
}

.loginbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.frmcont form p{
 margin-top: 20px;
  font-size: 20px;
}

body{
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient( rgba(44, 4, 4, 0.9),rgba(0, 0, 0, 0.9)),url('../../img/random/banned.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}


footer{
    background-color: transparent;
    margin-top: auto;
}

.footercontainer{
    width: 100%;
    padding: 70px 30px 10px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
    background: transparent;
}

.socialicons a:hover{
    transform: scale(1.15);
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
}

.socialicons a i:hover{
    color: white;
    transition: 0.5s;
}

.footerbottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    background:rgb(255, 0, 0);
}

.footerbottom p{
   color: white;
   font-family: monospace;
   font-weight: 400;
   font-size: 15px;
   background:rgb(255, 0, 0);
}

.CC{
    width: 10px;
    height: 10px;
    background: transparent;
}


.cta{
    display: flex;
    justify-content: space-between;
    width: 205px;
    margin-right: 10px;
}

.btn1{
    width: 115px;
    margin-right: 10px;
}

.btn2{
    width: 115px;
    margin-right: 10px;
}

/* For 1280x720 resolution */
@media (max-width: 1350px){
  
    
    header{
        padding: 20px 10%;
    }
    
    .logo{
        width: 250px;
        height: 50px;
    }
  
    
    li, a, button{
        font-size: 16px;
    }
    
    button{
        padding: 8px 20px;
    }
    
    
    .lgo{
        width: 700px;
        height: 600px;
    }
    
    
    .cta{
        width: 177px;
    }

    
    .goat p{
        font-size: 14px;
    }
    
    
    .bname{
        font-size: 20px;
       margin-bottom: 10px;
    }
    
    .hmbtn{
        display: flex;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .hmbtn button{
        background-color: rgb(138, 10, 10);
        height: 50px;
        width: 230px;
        color: black;
        border-radius: 0%;
        transition: all 0.3s ease 0s;
    }
    

    .frmcont{
        padding: 15px;
      }
      
      .youproblem{
          color: #ff0000;
      }
      
      span{
          font-size: 45px;
          margin-left: 30px;
          margin-bottom: 1px;
      }
      
      
      h1{
        font-size: 45px;
      }
      

    
    }